<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Biblioteca</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous"></head>
<body>
<header class="bg-dark text-white">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            Biblioteca
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Libros
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <a class="dropdown-item" href="/libro/lista">Libros</a>
                        <a class="dropdown-item" href="/libro/registrar">Registrar Libro</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Autores
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                        <a class="dropdown-item" href="/autor/lista">Autores</a>
                        <a class="dropdown-item" href="/autor/registrar">Registrar Autor</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Editoriales
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                        <a class="dropdown-item" href="/editorial/lista">Editoriales</a>
                        <a class="dropdown-item" href="/editorial/registrar">Registrar Editorial</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="container p-5 m-5 contenedor">
    <h2>Modificar Libro</h2>

    <form class="form formulario" th:action="@{/libro/modificar/__${libro.id}__}" method="POST">
        <div class="form-group my-3">

            <input hidden th:value="${libro.id}" name="id">

            <label for="isbn" class="mb-2">Modificar ISBN</label>
            <input required minlength="3" th:value="${libro.isbn}" type="number" class="form-control mb-3" id="isbn" name="isbn">

            <label for="titulo" class="mb-2">Titulo</label>
            <input required minlength="3" th:value="${libro.titulo}" type="text" class="form-control mb-3" id="titulo" name="titulo">

            <label for="anio" class="mb-2">Anio</label>
            <input required minlength="3" th:value="${libro.anio}" type="number" class="form-control mb-3" id="anio" name="anio">

            <label for="ejemplares" class="mb-2">Ejemplares</label>
            <input required minlength="3" th:value="${libro.ejemplares}" type="number" class="form-control mb-3" id="ejemplares" name="ejemplares">

            <label for="idEditorial" class="mb-2">Editorial</label>
            <input required minlength="3" th:value="${libro.editorial.id}" type="number" class="form-control mb-3" id="idEditorial" name="idEditorial">

            <label for="idAutor" class="mb-2">Autor</label>
            <input required minlength="3" th:value="${libro.autor.id}" type="number" class="form-control mb-2" id="idAutor" name="idAutor">

        </div>
        <button type="submit" class="btn btn-outline-success">Actualizar</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
